
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 692rem;
}.electronicshowstuffworkscom-by-htmltodesign-free-version-02-03-2024-11-57-03-gmt5-30-P4x {
  width: 100%;
  height: 462.1rem;
  position: relative;

  .auto-group-5luu-2Np {
    box-sizing: border-box;
    width: 692rem;
    top: 0;
    align-items: flex-end;
    flex-direction: column;
    padding: 0rem 0rem 3.2rem 500rem;
    height: 413.6rem;
    position: absolute;
    left: 0;
    display: flex;

    .auto-group-neha-hzk {
      width: 100%;
      height: 71.2rem;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 2.4rem;

      .nav-desktop-menu-r6x {
        box-sizing: border-box;
        width: 192rem;
        background-color: #151538;
        top: 5.2rem;
        display: flex;
        align-items: center;
        padding: 0rem 17.276rem 0rem 16.8rem;
        height: 9.6rem;
        position: absolute;
        left: 0;

        .link-science-Lnp {
          font-weight: 400;
          color: #ffffff;
          margin-right: 24.678rem;
          font-size: 1.6rem;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          line-height: 1.5;
        }
        .link-tech-1PA {
          flex-shrink: 0;
          margin-right: 24.245rem;
          line-height: 1.5;
          white-space: nowrap;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          display: flex;
          font-size: 1.6rem;
          font-weight: 700;
        }
        .link-home-garden-w1v {
          line-height: 1.5;
          color: #ffffff;
          margin-right: 25.022rem;
          font-size: 1.6rem;
          font-weight: 400;
          flex-shrink: 0;
          display: flex;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .link-auto-rua {
          font-size: 1.6rem;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 24.474rem;
          display: flex;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
        }
        .link-culture-bMN {
          white-space: nowrap;
          font-weight: 400;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          line-height: 1.5;
          flex-shrink: 0;
          margin-right: 24.0395rem;
          display: flex;
          font-size: 1.6rem;
        }
        .button-more-v8k {
          align-items: center;
          font-size: 1.6rem;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          margin-right: 3.8045rem;
          display: flex;
          justify-content: center;
          font-weight: 400;
          line-height: 1.5;
          flex-shrink: 0;
          max-width: 1.4rem;
        }
        .button-svg-Qpc {
          height: 0.518rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.0059rem;
          width: 1.2612rem;
        }
      }
      .main-XuE {
        top: 12rem;
        background-size: 100% 182.432%;
        background-image: url('REPLACE_IMAGE:33ec58c6e849185add156054a395c799ac02f060');
        width: 192rem;
        height: 59.2rem;
        position: absolute;
        left: 0;

        .divmax-w-full-H7i {
          padding: 19.83rem 19.2rem 19.831rem 19.2rem;
          width: 100%;
          height: 100%;
          background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
          box-sizing: border-box;

          .divflex-1Jc {
            width: 70rem;
            height: 100%;

            .heading-1-tech-xje {
              display: flex;
              font-weight: 400;
              line-height: 1.1;
              white-space: nowrap;
              margin-bottom: 1.9499rem;
              font-size: 2rem;
              text-transform: uppercase;
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
            }
            .link-10-types-of-microphones-HG8 {
              font-size: 6.4rem;
              font-weight: 400;
              line-height: 1.1000000238;
              color: #ffffff;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 3.189rem;
              display: flex;
            }
            .link-n6Q {
              white-space: nowrap;
              background-color: #168381;
              width: 19.002rem;
              display: flex;
              line-height: 1.5;
              text-transform: uppercase;
              color: #ffffff;
              justify-content: center;
              height: 5.1rem;
              font-size: 1.8rem;
              font-weight: 700;
              font-family: Roboto, 'Source Sans Pro';
              align-items: center;
            }
          }
        }
        .main-XuE-bg {
          width: 192rem;
          height: 59.2rem;
          position: relative;
          background-image: url('REPLACE_IMAGE:33ec58c6e849185add156054a395c799ac02f060');
        }
      }
      .header-sn4 {
        height: 8rem;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        width: 192rem;
        background-color: #2b2b5c;
        padding: 1.923rem 16.8rem 1.924rem 16.8rem;

        .link-svg-Bnk {
          flex-shrink: 0;
          margin: 0.006rem 103.955rem 0rem 0rem;
          width: 19.492rem;
          height: 3.5169rem;
          object-fit: contain;
          vertical-align: top;
        }
        .form-input-JcU {
          height: 100%;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.275rem 1.599rem 1.278rem 1.601rem;
          width: 30rem;

          .divplaceholder-QvQ {
            height: 100%;
            font-family: Roboto, 'Source Sans Pro';
            line-height: 1.1725;
            color: #777777;
            width: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            font-size: 1.4rem;
            font-weight: 400;
            white-space: nowrap;
          }
        }
        .form-button-85i {
          flex-shrink: 0;
          width: 4.953rem;
          height: 4.153rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .auto-group-o1kr-1vC {
      flex-shrink: 0;
      margin: 0 17.6rem;
      width: calc(100% - 35.2rem);
      height: 336.8rem;
      display: flex;
      align-items: flex-start;

      .auto-group-z2pn-x4k {
        margin-right: 4rem;
        width: 122.8rem;
        height: 253.6rem;
        position: relative;
        flex-shrink: 0;

        .auto-group-p8ys-FZe {
          box-sizing: border-box;
          padding-bottom: 4rem;
          width: 122.8rem;
          height: 12rem;
          position: absolute;
          left: 0;
          top: 0;

          .main-nav-topics-to-explore-topics-to-explore--nZa {
            margin-bottom: 1.6rem;
            display: flex;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-amka-hAk {
            margin-right: 98.971rem;
            width: calc(100% - 98.971rem);
            height: 4rem;
            display: flex;
            align-items: center;

            .main-nav-topics-to-explore-link-2ip {
              font-size: 1.6rem;
              color: #ffffff;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              align-items: center;
              justify-content: center;
              margin-right: 1.246rem;
              width: 10.756rem;
              height: 100%;
              font-weight: 700;
              display: flex;
              line-height: 1.5;
              white-space: nowrap;
              background-color: #168381;
            }
            .main-nav-topics-to-explore-link-hKA {
              width: 11.827rem;
              font-weight: 700;
              line-height: 1.5;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              height: 100%;
              display: flex;
              font-size: 1.6rem;
              color: #ffffff;
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              background-color: #168381;
            }
          }
        }
        .auto-group-nedr-yGg {
          height: 23.6rem;
          position: absolute;
          left: 0;
          top: 12rem;
          display: flex;
          column-gap: 1.6rem;
          align-items: center;
          width: 122.8rem;

          .main-link-JJx {
            width: 29.5rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            background-color: #dddddd;
            flex-shrink: 0;

            .eyjidwnrzxqioijjb250zw50lmhzd3n0yxrpyy5jb20ilcjrzxkioijnawzcl2fsyw4tdhvyaw5nlmpwzyisimvkaxrzijp7injlc2l6zsi6eyj3awr0aci6ntuwfx19-Fjz {
              width: 29.5rem;
              height: 17.5rem;
              position: relative;
              background-size: 105.589% 100%;
              background-position: -0.8244rem 0;
              background-image: url('REPLACE_IMAGE:1f90acf3ab736472a4a1f7a0dd5b7f3c054644d6');
              flex-shrink: 0;
            }
            .heading-3-sFa {
              background-color: #2b2b5c;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0.775rem 1.2rem 0.825rem 1.2rem;
              width: 100%;
              height: 6.1rem;
              overflow: hidden;
              position: relative;

              .spanline-clamp-3-Pzc {
                margin-right: 3.7rem;
                width: 23.4rem;
                height: 100%;
                overflow: hidden;
                position: relative;

                .how-alan-turing-and-his-test-became-ai-legend-EVS {
                  color: #ffffff;
                  font-family: Lato, 'Source Sans Pro';
                  max-width: 23.4rem;
                  display: flex;
                  font-size: 1.8rem;
                  font-weight: 700;
                  line-height: 1.25;
                }
              }
            }
          }
          .main-link-urU {
            align-items: center;
            display: flex;
            flex-direction: column;
            background-color: #dddddd;
            flex-shrink: 0;
            width: 29.5rem;
            height: 100%;

            .eyjidwnrzxqioijjb250zw50lmhzd3n0yxrpyy5jb20ilcjrzxkioijnawzcl2njlmpwzyisimvkaxrzijp7injlc2l6zsi6eyj3awr0aci6ntuwfx19-s2c {
              position: relative;
              background-size: 105.589% 100%;
              background-position: -0.8244rem 0;
              background-image: url('REPLACE_IMAGE:927ad9593c73b3aeea192ae2b1ee819fb7843a44');
              flex-shrink: 0;
              width: 29.5rem;
              height: 17.5rem;
            }
            .heading-3-jKi {
              box-sizing: border-box;
              padding: 0.75rem 1.2rem;
              width: 100%;
              height: 6.1rem;
              overflow: hidden;
              position: relative;
              background-color: #2b2b5c;
              flex-shrink: 0;

              .spanline-clamp-3-fz4 {
                white-space: nowrap;
                height: 2.3rem;
                font-weight: 700;
                line-height: 1.25;
                align-items: center;
                width: 24.2rem;
                position: relative;
                color: #ffffff;
                margin: 0rem 2.9rem 2.3rem 0rem;
                font-family: Lato, 'Source Sans Pro';
                justify-content: center;
                overflow: hidden;
                display: flex;
                font-size: 1.8rem;
              }
            }
          }
          .main-link-iSY {
            align-items: center;
            display: flex;
            flex-direction: column;
            background-color: #dddddd;
            flex-shrink: 0;
            width: 29.5rem;
            height: 100%;

            .eyjidwnrzxqioijjb250zw50lmhzd3n0yxrpyy5jb20ilcjrzxkioijnawzcl2nszwfulw1vdxnlcgfklmpwzyisimvkaxrzijp7injlc2l6zsi6eyj3awr0aci6ntuwfx19-GU4 {
              background-size: 105.589% 100%;
              background-position: -0.8244rem 0;
              background-image: url('REPLACE_IMAGE:daeec214460dfdb40d0f607260c53752a4242d9d');
              flex-shrink: 0;
              width: 29.5rem;
              height: 17.5rem;
              position: relative;
            }
            .heading-3-iL4 {
              padding: 0.75rem 1.2rem;
              width: 100%;
              height: 6.1rem;
              overflow: hidden;
              position: relative;
              background-color: #2b2b5c;
              flex-shrink: 0;
              box-sizing: border-box;

              .spanline-clamp-3-dhv {
                height: 2.3rem;
                white-space: nowrap;
                justify-content: center;
                margin: 0rem 6.1rem 2.3rem 0rem;
                width: 21rem;
                font-weight: 700;
                font-family: Lato, 'Source Sans Pro';
                align-items: center;
                position: relative;
                display: flex;
                overflow: hidden;
                font-size: 1.8rem;
                line-height: 1.25;
                color: #ffffff;
              }
            }
          }
          .main-link-gAQ {
            width: 29.5rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            background-color: #dddddd;
            flex-shrink: 0;

            .eyjidwnrzxqioijjb250zw50lmhzd3n0yxrpyy5jb20ilcjrzxkioijnawzcl2noyw5nzs1nbwfpbc1wyxnzd29yzc5qcgcilcjlzgl0cyi6eyjyzxnpemuionsid2lkdggioju1mh19fq-d5e {
              position: relative;
              background-size: 105.589% 100%;
              background-position: -0.8244rem 0;
              background-image: url('REPLACE_IMAGE:599ab48cf15af3e9338a560e2be94af0a7d48de4');
              flex-shrink: 0;
              width: 29.5rem;
              height: 17.5rem;
            }
            .heading-3-sVn {
              padding: 0.775rem 1.2rem 0.825rem 1.2rem;
              width: 100%;
              height: 6.1rem;
              overflow: hidden;
              position: relative;
              background-color: #2b2b5c;
              flex-shrink: 0;
              box-sizing: border-box;

              .spanline-clamp-3-PDE {
                margin-right: 5.5rem;
                width: 21.6rem;
                height: 100%;
                overflow: hidden;
                position: relative;

                .how-to-change-your-gmail-password-jH6 {
                  max-width: 21.6rem;
                  display: flex;
                  font-size: 1.8rem;
                  font-weight: 700;
                  line-height: 1.25;
                  color: #ffffff;
                  font-family: Lato, 'Source Sans Pro';
                }
              }
            }
          }
        }
        .main-heading-3-trending-in-tech-EDr {
          height: 3rem;
          left: 0;
          font-weight: 700;
          line-height: 1.25;
          color: #000000;
          white-space: nowrap;
          width: 18.1rem;
          position: absolute;
          top: 38.8rem;
          display: flex;
          font-size: 2.4rem;
          font-family: Roboto, 'Source Sans Pro';
        }
        .auto-group-tm6c-JzQ {
          left: 0;
          top: 43.4rem;
          display: flex;
          column-gap: 1.6rem;
          align-items: center;
          width: 122.8rem;
          height: 23.6rem;
          position: absolute;

          .main-link-dWt {
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            background-color: #dddddd;
            flex-shrink: 0;
            width: 29.5rem;

            .eyjidwnrzxqioijjb250zw50lmhzd3n0yxrpyy5jb20ilcjrzxkioijnawzcl3nodxr0zxjzdg9jay0xoti0odqymjazlmpwzyisimvkaxrzijp7injlc2l6zsi6eyj3awr0aci6ntuwfx19-ZvL {
              flex-shrink: 0;
              width: 29.5rem;
              height: 17.5rem;
              position: relative;
              background-size: 105.589% 100%;
              background-position: -0.8244rem 0;
              background-image: url('REPLACE_IMAGE:67b34a8f01a49e34516e4af85facc6df79c6c3c3');
            }
            .heading-3-aaY {
              padding: 0.775rem 1.2rem 0.825rem 1.2rem;
              width: 100%;
              height: 6.1rem;
              overflow: hidden;
              position: relative;
              background-color: #2b2b5c;
              flex-shrink: 0;
              box-sizing: border-box;

              .spanline-clamp-3-JWY {
                margin-right: 6rem;
                width: 21.1rem;
                height: 100%;
                overflow: hidden;
                position: relative;

                .alphanumeric-characters-uses-and-examples-r2G {
                  max-width: 21.1rem;
                  display: flex;
                  font-size: 1.8rem;
                  font-weight: 700;
                  line-height: 1.25;
                  color: #ffffff;
                  font-family: Lato, 'Source Sans Pro';
                }
              }
            }
          }
          .main-link-LTE {
            width: 29.5rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            background-color: #dddddd;
            flex-shrink: 0;

            .eyjidwnrzxqioijjb250zw50lmhzd3n0yxrpyy5jb20ilcjrzxkioijnawzcl2dldhr5aw1hz2vzltezntm4odm3njauanbniiwizwrpdhmionsicmvzaxplijp7indpzhroijo1ntb9fx0-gmz {
              width: 29.5rem;
              height: 17.5rem;
              position: relative;
              background-size: 105.589% 100%;
              background-position: -0.8244rem 0;
              background-image: url('REPLACE_IMAGE:d5afbe54e1a735dc09c02ee65d32969319f2441a');
              flex-shrink: 0;
            }
            .heading-3-KKA {
              position: relative;
              background-color: #2b2b5c;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0.775rem 1.2rem 0.825rem 1.2rem;
              width: 100%;
              height: 6.1rem;
              overflow: hidden;

              .spanline-clamp-3-esE {
                margin-right: 3.1rem;
                width: 24rem;
                height: 100%;
                overflow: hidden;
                position: relative;

                .how-geofencing-works-pros-cons-and-privacy-concerns-oEL {
                  font-weight: 700;
                  line-height: 1.25;
                  color: #ffffff;
                  font-family: Lato, 'Source Sans Pro';
                  max-width: 24rem;
                  display: flex;
                  font-size: 1.8rem;
                }
              }
            }
          }
          .main-link-6z8 {
            flex-shrink: 0;
            width: 29.5rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            background-color: #dddddd;

            .eyjidwnrzxqioijjb250zw50lmhzd3n0yxrpyy5jb20ilcjrzxkioijnawzcl2dldhr5aw1hz2vzlte0nzm4nzuzotauanbniiwizwrpdhmionsicmvzaxplijp7indpzhroijo1ntb9fx0-TZn {
              background-size: 105.589% 100%;
              background-position: -0.8244rem 0;
              background-image: url('REPLACE_IMAGE:88c4ea168a492334c742b714dc4d7226f8aaf908');
              flex-shrink: 0;
              width: 29.5rem;
              height: 17.5rem;
              position: relative;
            }
            .heading-3-vyA {
              box-sizing: border-box;
              padding: 0.775rem 1.2rem 0.825rem 1.2rem;
              width: 100%;
              height: 6.1rem;
              overflow: hidden;
              position: relative;
              background-color: #2b2b5c;
              flex-shrink: 0;

              .spanline-clamp-3-fvk {
                margin-right: 4rem;
                width: 23.1rem;
                height: 100%;
                overflow: hidden;
                position: relative;

                .lte-meaning-understanding-the-cell-phone-technology-DhN {
                  max-width: 23.1rem;
                  display: flex;
                  font-size: 1.8rem;
                  font-weight: 700;
                  line-height: 1.25;
                  color: #ffffff;
                  font-family: Lato, 'Source Sans Pro';
                }
              }
            }
          }
          .main-link-Xi4 {
            align-items: center;
            display: flex;
            flex-direction: column;
            background-color: #dddddd;
            flex-shrink: 0;
            width: 29.5rem;
            height: 100%;

            .eyjidwnrzxqioijjb250zw50lmhzd3n0yxrpyy5jb20ilcjrzxkioijnawzcl2fpcmxhbmutbw9kzs1nzxr0ewltywdlcy0xmjiynzy4odi2lmpwzyisimvkaxrzijp7injlc2l6zsi6eyj3awr0aci6ntuwfx19-5zU {
              position: relative;
              background-size: 100% 112.483%;
              background-position: 0 -1.0923rem;
              background-image: url('REPLACE_IMAGE:76fb1e4854af3632c873175e25b0375048b6a814');
              flex-shrink: 0;
              width: 29.5rem;
              height: 17.5rem;
            }
            .heading-3-wWt {
              position: relative;
              background-color: #2b2b5c;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0.775rem 1.2rem 0.825rem 1.2rem;
              width: 100%;
              height: 6.1rem;
              overflow: hidden;

              .spanline-clamp-3-gUU {
                overflow: hidden;
                position: relative;
                margin-right: 2.3rem;
                width: 24.8rem;
                height: 100%;

                .what-does-airplane-mode-do-and-can-it-save-battery-life-brL {
                  font-size: 1.8rem;
                  font-weight: 700;
                  line-height: 1.25;
                  color: #ffffff;
                  font-family: Lato, 'Source Sans Pro';
                  max-width: 24.8rem;
                  display: flex;
                }
              }
            }
          }
        }
        .auto-group-d34p-73z {
          box-sizing: border-box;
          padding: 3.2rem 0rem 1.65rem 0rem;
          width: 122.8rem;
          height: 15.5rem;
          position: absolute;
          left: 0;
          top: 67rem;

          .auto-group-ugxn-RaU {
            width: calc(100% - 0rem);
            display: flex;
            align-items: center;
            margin: 0rem 0rem 0.75rem 0rem;

            .main-heading-3-link-computer-m8Y {
              font-size: 3rem;
              text-transform: uppercase;
              color: #1573a6;
              white-space: nowrap;
              margin-right: 1.867rem;
              display: flex;
              font-weight: 700;
              line-height: 1.5;
              font-family: Lato, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .main-H6t {
              width: 104.433rem;
              height: 0.4rem;
              background: linear-gradient(90.02deg, #2b2b5c 0.23%, #1b6193 33.08%, #1573a6 50%, #1ea2a0 90.81%, #1ea2a0 99.77%);
              flex-shrink: 0;
            }
          }
          .main-wondering-whats-inside-your-computer-or-how-the-latest-computer-technologies-work-browse-our-articles-below-on-computer-networking-security-PQp {
            max-width: 117.7rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.5;
            color: #040404;
            font-family: Roboto, 'Source Sans Pro';
          }
        }
        .auto-group-mbpr-GDi {
          width: 122.8rem;
          height: 37.9rem;
          position: absolute;
          left: 0;
          top: 82.5rem;
          display: flex;
          align-items: center;

          .main-link-BrU {
            margin-right: 1.6rem;
            padding: 18.675rem 3.2rem 4rem 3.2rem;
            height: 100%;
            background-size: 111.319% 100%;
            box-sizing: border-box;
            width: 60.6rem;
            background: linear-gradient(248.65deg, rgba(4, 4, 4, 0.8999999762) 100%, rgba(4, 4, 4, 0.4600000083) 177%, rgba(4, 4, 4, 0.150000006) 200%);
            background-image: url('REPLACE_IMAGE:5a2cb88889105c2e4a81db08a1a50bc8a7fdada9');
            flex-shrink: 0;

            .how-to-use-chatgpt-to-create-excel-formulas-sjJ {
              color: #ffffff;
              font-family: Lato, 'Source Sans Pro';
              margin-bottom: 3.225rem;
              max-width: 49.3rem;
              display: flex;
              font-size: 3rem;
              font-weight: 700;
              line-height: 1.25;
            }
            .spanbtn-nLU {
              display: flex;
              line-height: 1.5;
              text-transform: uppercase;
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              align-items: center;
              height: 4.5rem;
              background-color: #168381;
              justify-content: center;
              font-size: 1.4rem;
              font-weight: 700;
              width: 16.8rem;
            }
            .main-link-BrU-bg {
              height: 37.9rem;
              position: relative;
              background-image: url('REPLACE_IMAGE:5a2cb88889105c2e4a81db08a1a50bc8a7fdada9');
              width: 60.6rem;
            }
          }
          .main-link-my6 {
            height: 100%;
            background: linear-gradient(248.65deg, rgba(4, 4, 4, 0.8999999762) 100%, rgba(4, 4, 4, 0.4600000083) 177%, rgba(4, 4, 4, 0.150000006) 200%);
            background-size: 111.319% 100%;
            background-image: url('REPLACE_IMAGE:f89f240d0260e8e63c5f96c4914d20549b2c7d8f');
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 18.675rem 3.2rem 4rem 3.2rem;
            width: 60.6rem;

            .what-is-an-ai-black-box-a-computer-scientist-explains-WQt {
              font-family: Lato, 'Source Sans Pro';
              margin-bottom: 3.225rem;
              max-width: 49.9rem;
              display: flex;
              font-size: 3rem;
              font-weight: 700;
              line-height: 1.25;
              color: #ffffff;
            }
            .spanbtn-PzU {
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              align-items: center;
              width: 16.8rem;
              font-weight: 700;
              line-height: 1.5;
              text-transform: uppercase;
              justify-content: center;
              background-color: #168381;
              height: 4.5rem;
              display: flex;
              font-size: 1.4rem;
            }
            .main-link-my6-bg {
              width: 60.6rem;
              height: 37.9rem;
              position: relative;
              background-image: url('REPLACE_IMAGE:f89f240d0260e8e63c5f96c4914d20549b2c7d8f');
            }
          }
        }
        .auto-group-bm1e-1W4 {
          width: 122.8rem;
          height: 37.9rem;
          position: absolute;
          left: 0;
          top: 122rem;
          display: flex;
          align-items: center;

          .main-link-wuW {
            width: 60.6rem;
            height: 100%;
            background: linear-gradient(248.65deg, rgba(4, 4, 4, 0.8999999762) 100%, rgba(4, 4, 4, 0.4600000083) 177%, rgba(4, 4, 4, 0.150000006) 200%);
            background-size: 157.788% 100%;
            flex-shrink: 0;
            padding: 22.4rem 3.2rem 4rem 3.2rem;
            box-sizing: border-box;
            background-image: url('REPLACE_IMAGE:fcde3834a1ef9fb64179e8547f4797adff5b2f9b');
            margin-right: 1.6rem;

            .how-parallel-ports-work-UPe {
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 3.2rem;
              display: flex;
              font-size: 3rem;
              font-weight: 700;
              line-height: 1.25;
              color: #ffffff;
            }
            .spanbtn-1Pa {
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.5;
              font-family: Roboto, 'Source Sans Pro';
              align-items: center;
              justify-content: center;
              width: 16.8rem;
              height: 4.5rem;
              display: flex;
              text-transform: uppercase;
              color: #ffffff;
              white-space: nowrap;
              background-color: #168381;
            }
            .main-link-wuW-bg {
              background-image: url('REPLACE_IMAGE:fcde3834a1ef9fb64179e8547f4797adff5b2f9b');
              width: 60.6rem;
              height: 37.9rem;
              position: relative;
            }
          }
          .main-link-SDz {
            width: 60.6rem;
            height: 100%;
            background: linear-gradient(248.65deg, rgba(4, 4, 4, 0.8999999762) 100%, rgba(4, 4, 4, 0.4600000083) 177%, rgba(4, 4, 4, 0.150000006) 200%);
            background-size: 111.319% 100%;
            background-image: url('REPLACE_IMAGE:05c1d18191bebb651228c3d93830dddce0b9af23');
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 18.675rem 3.2rem 4rem 3.2rem;

            .web3-the-next-phase-of-the-internet-is-coming-m1N {
              display: flex;
              font-size: 3rem;
              font-weight: 700;
              line-height: 1.25;
              color: #ffffff;
              font-family: Lato, 'Source Sans Pro';
              margin-bottom: 3.225rem;
              max-width: 50.5rem;
            }
            .spanbtn-UgU {
              font-size: 1.4rem;
              text-transform: uppercase;
              color: #ffffff;
              align-items: center;
              background-color: #168381;
              width: 16.8rem;
              height: 4.5rem;
              line-height: 1.5;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              justify-content: center;
              display: flex;
              font-weight: 700;
            }
            .main-link-SDz-bg {
              width: 60.6rem;
              height: 37.9rem;
              position: relative;
              background-image: url('REPLACE_IMAGE:05c1d18191bebb651228c3d93830dddce0b9af23');
            }
          }
        }
        .auto-group-vadz-J9i {
          width: 122.8rem;
          height: 4.5rem;
          position: absolute;
          left: 0;
          top: 163.9rem;
          display: flex;
          align-items: center;

          .main-heading-3-link-electronics-dxg {
            line-height: 1.5;
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 700;
            display: flex;
            font-size: 3rem;
            text-transform: uppercase;
            color: #1573a6;
            flex-shrink: 0;
            margin-right: 3.002rem;
          }
          .main-xVA {
            width: 100.098rem;
            height: 0.4rem;
            background: linear-gradient(90.02deg, #2b2b5c 0.23%, #1b6193 33.08%, #1573a6 50%, #1ea2a0 90.81%, #1ea2a0 99.77%);
            flex-shrink: 0;
          }
        }
        .main-howstuffworks-electronics-answers-your-home-theater-system-questions-and-more-find-explanations-reviews-videos-and-prices-on-cameras--FUG {
          color: #040404;
          width: 114.9rem;
          height: 5.4rem;
          display: flex;
          font-weight: 400;
          line-height: 1.5;
          font-family: Roboto, 'Source Sans Pro';
          position: absolute;
          left: 0;
          top: 169.15rem;
          font-size: 1.8rem;
        }
        .auto-group-rhzw-hr4 {
          display: flex;
          align-items: center;
          width: 122.8rem;
          height: 37.9rem;
          position: absolute;
          left: 0;
          top: 176.2rem;

          .main-link-3f2 {
            height: 100%;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 18.675rem 3.2rem 4rem 3.2rem;
            width: 60.6rem;
            background: linear-gradient(248.65deg, rgba(4, 4, 4, 0.8999999762) 100%, rgba(4, 4, 4, 0.4600000083) 177%, rgba(4, 4, 4, 0.150000006) 200%);
            background-size: 111.319% 100%;
            background-image: url('REPLACE_IMAGE:7370c89fe46c80a5fd97a3dd7b41eadcd9c1d33e');
            margin-right: 1.6rem;

            .how-to-track-a-phone-when-its-lost-or-stolen-yHn {
              font-family: Lato, 'Source Sans Pro';
              margin-bottom: 3.225rem;
              max-width: 48.8rem;
              display: flex;
              font-size: 3rem;
              font-weight: 700;
              line-height: 1.25;
              color: #ffffff;
            }
            .spanbtn-HZN {
              width: 16.8rem;
              height: 4.5rem;
              display: flex;
              text-transform: uppercase;
              color: #ffffff;
              justify-content: center;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.5;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              align-items: center;
              background-color: #168381;
            }
            .main-link-3f2-bg {
              position: relative;
              background-image: url('REPLACE_IMAGE:7370c89fe46c80a5fd97a3dd7b41eadcd9c1d33e');
              width: 60.6rem;
              height: 37.9rem;
            }
          }
          .main-link-72c {
            height: 100%;
            background: linear-gradient(248.65deg, rgba(4, 4, 4, 0.8999999762) 100%, rgba(4, 4, 4, 0.4600000083) 177%, rgba(4, 4, 4, 0.150000006) 200%);
            background-size: 111.319% 100%;
            background-image: url('REPLACE_IMAGE:c8378a448024a6f69ef3399b9a413031b9b755c9');
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 18.675rem 3.2rem 4rem 3.2rem;
            width: 60.6rem;

            .jobs-ai-will-replace-and-8-it-wont-yet-dme {
              font-family: Lato, 'Source Sans Pro';
              margin-bottom: 3.225rem;
              max-width: 48.9rem;
              display: flex;
              font-size: 3rem;
              font-weight: 700;
              line-height: 1.25;
              color: #ffffff;
            }
            .spanbtn-Z9W {
              text-transform: uppercase;
              font-family: Roboto, 'Source Sans Pro';
              align-items: center;
              justify-content: center;
              height: 4.5rem;
              font-size: 1.4rem;
              font-weight: 700;
              color: #ffffff;
              white-space: nowrap;
              background-color: #168381;
              width: 16.8rem;
              display: flex;
              line-height: 1.5;
            }
            .main-link-72c-bg {
              width: 60.6rem;
              height: 37.9rem;
              position: relative;
              background-image: url('REPLACE_IMAGE:c8378a448024a6f69ef3399b9a413031b9b755c9');
            }
          }
        }
        .auto-group-ivsn-aqJ {
          align-items: center;
          width: 122.8rem;
          height: 37.9rem;
          position: absolute;
          left: 0;
          top: 215.7rem;
          display: flex;

          .main-link-868 {
            box-sizing: border-box;
            width: 60.6rem;
            background: linear-gradient(248.65deg, rgba(4, 4, 4, 0.8999999762) 100%, rgba(4, 4, 4, 0.4600000083) 177%, rgba(4, 4, 4, 0.150000006) 200%);
            background-image: url('REPLACE_IMAGE:200f67b06019a48abdb9f8b3139c31feeb3dd550');
            flex-shrink: 0;
            margin-right: 1.6rem;
            padding: 22.4rem 3.2rem 4rem 3.2rem;
            height: 100%;
            background-size: 111.319% 100%;

            .what-is-rgb-color-rH2 {
              color: #ffffff;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 3.2rem;
              display: flex;
              font-size: 3rem;
              font-weight: 700;
              line-height: 1.25;
            }
            .spanbtn-PGx {
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.5;
              justify-content: center;
              background-color: #168381;
              align-items: center;
              width: 16.8rem;
              height: 4.5rem;
              display: flex;
              text-transform: uppercase;
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
            .main-link-868-bg {
              width: 60.6rem;
              height: 37.9rem;
              position: relative;
              background-image: url('REPLACE_IMAGE:200f67b06019a48abdb9f8b3139c31feeb3dd550');
            }
          }
          .main-link-vAQ {
            width: 60.6rem;
            height: 100%;
            background: linear-gradient(248.65deg, rgba(4, 4, 4, 0.8999999762) 100%, rgba(4, 4, 4, 0.4600000083) 177%, rgba(4, 4, 4, 0.150000006) 200%);
            background-size: 111.319% 100%;
            background-image: url('REPLACE_IMAGE:ef4df63ba3ad0baf0ef21b6d95fb0c2e5b146d41');
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 18.675rem 3.2rem 4rem 3.2rem;

            .gen-z-is-ditching-smartphones-for-vintage-flip-phones-eMJ {
              font-family: Lato, 'Source Sans Pro';
              margin-bottom: 3.225rem;
              max-width: 45.8rem;
              display: flex;
              font-size: 3rem;
              font-weight: 700;
              line-height: 1.25;
              color: #ffffff;
            }
            .spanbtn-ZDN {
              text-transform: uppercase;
              color: #ffffff;
              white-space: nowrap;
              justify-content: center;
              background-color: #168381;
              width: 16.8rem;
              line-height: 1.5;
              font-size: 1.4rem;
              font-weight: 700;
              font-family: Roboto, 'Source Sans Pro';
              align-items: center;
              height: 4.5rem;
              display: flex;
            }
            .main-link-vAQ-bg {
              width: 60.6rem;
              height: 37.9rem;
              position: relative;
              background-image: url('REPLACE_IMAGE:ef4df63ba3ad0baf0ef21b6d95fb0c2e5b146d41');
            }
          }
        }
      }
      .main-wji {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 30rem;

        .advertisement-UUk {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 0.4rem 0.124rem;
          align-items: center;
          font-size: 1.2rem;
          line-height: 1.5;
          font-family: Roboto, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          font-weight: 400;
          color: #000000;
        }
        .divad-wrap-rail1-ywJ {
          flex-shrink: 0;
          margin-bottom: 76rem;
          width: 100%;
          height: 25rem;
          background-color: #dddddd;
        }
        .advertisement-hsJ {
          display: flex;
          justify-content: center;
          font-weight: 400;
          line-height: 1.5;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 0.4rem 0.124rem;
          align-items: center;
          font-size: 1.2rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
        }
        .divad-wrap-rail2-o9e {
          margin-bottom: 76rem;
          width: 100%;
          height: 25rem;
          background-color: #dddddd;
          flex-shrink: 0;
        }
        .advertisement-9DW {
          display: flex;
          align-items: center;
          font-size: 1.2rem;
          font-family: Roboto, 'Source Sans Pro';
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 0.4rem 0.124rem;
          justify-content: center;
          font-weight: 400;
          line-height: 1.5;
        }
        .divad-wrap-rail3-UFn {
          margin-bottom: 76rem;
          width: 100%;
          height: 25rem;
          background-color: #dddddd;
          flex-shrink: 0;
        }
        .advertisement-dPa {
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          justify-content: center;
          font-size: 1.2rem;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0rem 0.4rem 0.124rem;
          display: flex;
        }
        .divad-wrap-rail4-A8c {
          flex-shrink: 0;
          width: 100%;
          height: 25rem;
          background-color: #dddddd;
        }
      }
    }
  }
  .aside-6nx {
    width: 692rem;
    height: 20.2rem;
    position: absolute;
    left: 0;
    top: 413.6rem;
    background-color: #040404;

    .divw-full-dXz {
      width: 100%;
      height: 100%;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      background: linear-gradient(271.28deg, rgba(43, 43, 92, 0.6999999881) 100%, rgba(21, 115, 166, 0.6999999881) 127%, rgba(21, 114, 165, 0.6999999881) 176%, rgba(22, 111, 162, 0.6999999881) 185%, rgba(21, 115, 166, 0.6999999881) 189%, rgba(30, 162, 160, 0.6999999881) 200%);
      box-sizing: border-box;
      padding: 4.8rem 0rem 2.4rem 0rem;

      .newsletter-sign-up-Anp {
        font-weight: 700;
        line-height: 1.5;
        font-family: Roboto, 'Source Sans Pro';
        width: 100%;
        justify-content: center;
        font-size: 2.4rem;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.8rem;
        display: flex;
        align-items: center;
      }
      .form-VaC {
        margin: 0rem 71rem 0rem 571rem;
        width: calc(100% - 642rem);
        height: 6.2rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .input-pMa {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.95rem 1.6rem;
          width: 32.975rem;
          height: 100%;
          background-color: #ffffff;

          .divplaceholder-xya {
            white-space: nowrap;
            position: relative;
            display: flex;
            font-size: 2rem;
            line-height: 1.1725;
            color: #777777;
            font-family: Roboto, 'Source Sans Pro';
            width: 100%;
            height: 100%;
            overflow: hidden;
            font-weight: 400;
          }
        }
        .input-Fhn {
          justify-content: center;
          line-height: 1.5;
          font-family: Roboto, 'Source Sans Pro';
          align-items: center;
          font-weight: 700;
          background-color: #1ea2a0;
          flex-shrink: 0;
          width: 17.025rem;
          height: 100%;
          text-transform: uppercase;
          color: #ffffff;
          display: flex;
          font-size: 2rem;
          white-space: nowrap;
        }
      }
      .form-input-mg8 {
        margin-right: 672rem;
        width: 20rem;
        height: 2.4rem;
        background-color: #ffffff;
        flex-shrink: 0;
      }
    }
  }
  .footer-DY8 {
    left: 500rem;
    display: flex;
    box-sizing: border-box;
    width: 192rem;
    height: 28.3rem;
    align-items: center;
    background-color: #2b2b5c;
    padding: 3.2rem 49.6rem 1.65rem 16.8rem;
    position: absolute;
    top: 433.8rem;

    .auto-group-dxuu-vSY {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 18.8rem 7.55rem 0rem;
      display: flex;

      .link-img-4Hr {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 1.596rem 0.039rem;
        width: 19.4228rem;
        height: 3.5039rem;
      }
      .learn-how-everything-works-BNU {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        font-size: 1.6rem;
        line-height: 1.5;
        color: #ffffff;
        display: flex;
        font-weight: 400;
        font-family: Roboto, 'Source Sans Pro';
      }
      .auto-group-efyn-h5v {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-left: 0rem;

        .list-item-link-img-F7S {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.001rem 1.6rem 0rem 0rem;
          width: 3.5982rem;
          height: 3.575rem;
        }
        .list-item-link-img-8S8 {
          margin: 0.001rem 1.602rem 0rem 0rem;
          width: 3.5969rem;
          height: 2.5132rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .list-item-link-img-efN {
          vertical-align: top;
          flex-shrink: 0;
          width: 3.6rem;
          height: 3.6rem;
          object-fit: contain;
        }
      }
    }
    .auto-group-2zdn-PN4 {
      margin: 0rem 14.167rem 6.9rem 0rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .button-company-iv8 {
        line-height: 1.5;
        white-space: nowrap;
        font-weight: 700;
        display: flex;
        font-size: 2rem;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 1.55rem;
      }
      .list-item-link-about-dXJ {
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 7.9rem;
        display: flex;
        font-size: 1.6rem;
      }
    }
    .auto-group-bgon-ZA4 {
      margin-right: 22.6329rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .button-information-6vg {
        margin: 0rem 0rem 1.55rem 10.566rem;
        display: flex;
        font-weight: 700;
        flex-shrink: 0;
        font-size: 2rem;
        line-height: 1.5;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .list-item-link-terms-E1J {
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.6rem;
        max-width: 9.9rem;
        display: flex;
        flex-shrink: 0;
        margin: 0rem 0rem 0.05rem 9.866rem;
      }
      .list-item-button-cookie-settings-Xm6 {
        font-weight: 400;
        margin: 0rem 0rem 7.15rem 11.209rem;
        display: flex;
        justify-content: center;
        font-size: 1.6rem;
        white-space: nowrap;
        flex-shrink: 0;
        align-items: center;
        line-height: 1.5;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
      }
      .copyright-2024-howstuffworks-a-system1-property-Bqe {
        display: flex;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-npic-5RE {
      margin-bottom: 11.7rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .button-explore-D1e {
        display: flex;
        font-size: 2rem;
        line-height: 1.5;
        color: #ffffff;
        flex-shrink: 0;
        margin-bottom: 1.55rem;
        font-weight: 700;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .list-item-link-quizzes-YZi {
        max-width: 6.4rem;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
  }
}
